.container {
    max-width: 500px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(3, 3, 3, 0.1);
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .alert {
    margin-top: 10px;
  }
  